.card {
    border-radius: 5px;
    color: #E0D5AD;
    padding: 8px 0px;
    width: 70%;
    max-width: 70%;
    line-height: 30px;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        max-width: 100%;
    }
  }
  

.card a {
    color: #82B071;
}