.chip {
    padding: 4px 8px;
    color: white;
    background: transparent;
    border-radius: 15px;
    border: 1px solid #313131;
    margin: 3px;
    transition: 0.15s;
    cursor: pointer;
    font-family: inherit;
}

.chip:hover, .chip.selected  {
    background: #DDB071;
    color: black;
    border: 1px solid #DDB071;
}