@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  background: #181818;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: white;
}

#__next {
  display: flex;
}

img {
  max-width: 100%;
  image-rendering: -moz-crisp-edges;
}

* {
  -webkit-tap-highlight-color: transparent;
}
