
body, html {
    margin: 0;
    background: #181818;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

#__next {
    display: flex;
}

* {
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background: rgba(200, 200, 200,0.3);
}
