
body {
    margin: 0;
    background: #181818;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

#__next {
    display: flex;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.loader {
    background: transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

*::selection {
    background: rgba(200, 200, 200,0.3);
}